configuration {
    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    display-clipboard: "";
    show-icons:     true;
}

@theme "~/.config/rofi/themes/gruvbox.rasi"

